<ion-header>
  <ion-toolbar>
    <ion-icon (click)="goBackPage()" class="back-icon" name="caret-back-outline"></ion-icon>
    <ion-title id="toolbar-title">
      Cadastrar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscream="true">
  <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate>
    <ion-item>
      <ion-select label="Tipo" placeholder="Selecione o Tipo" formControlName="type">
        <ion-select-option value="0">Fonte de alimentação</ion-select-option>
        <ion-select-option value="1">Placa mãe</ion-select-option>
        <ion-select-option value="2">Processador</ion-select-option>
        <ion-select-option value="3">Cooler</ion-select-option>
        <ion-select-option value="4">Placa de vídeo</ion-select-option>
        <ion-select-option value="5">Memória RAM</ion-select-option>
        <ion-select-option value="6">HD</ion-select-option>
        <ion-select-option value="7">SSD</ion-select-option>
        <ion-select-option value="8">Fan</ion-select-option>
        <ion-select-option value="9">Gabinete</ion-select-option>
        <ion-select-option value="10">Acessório</ion-select-option>
        <ion-select-option value="11">Periférico</ion-select-option>
        <ion-select-option value="12">Notebook</ion-select-option>
        <ion-select-option value="13">Outro</ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="registerForm.get('type')?.touched && registerForm.get('type')?.errors?.['required']">O campo tipo é obrigatório</span>
    <ion-item>
      <ion-input label="Marca" type="string" formControlName="brand" placeholder="Insira a marca"></ion-input>
    </ion-item>
    <span *ngIf="registerForm.get('brand')?.touched && registerForm.get('brand')?.errors?.['required']">O campo marca é obrigatório</span>
    <span *ngIf="registerForm.get('brand')?.dirty && registerForm.get('brand')?.errors?.['minlength']">O campo marca é de no minimo 2 caracteres</span>
    <ion-item>
      <ion-input label="Modelo" type="string" formControlName="model" placeholder="Insira o modelo"></ion-input>
    </ion-item>
    <span *ngIf="registerForm.get('model')?.touched && registerForm.get('model')?.errors?.['required']">O campo modelo é obrigatório</span>
    <span *ngIf="registerForm.get('model')?.dirty && registerForm.get('model')?.errors?.['minlength']">O campo modelo é de no minimo 2 caracteres</span>
    <ion-item>
      <ion-input label="Definições" type="string" formControlName="definitions" placeholder="Insira as especificações"></ion-input>
    </ion-item>
    <span *ngIf="registerForm.get('definitions')?.touched && registerForm.get('definitions')?.errors?.['required']">O campo definições é obrigatório</span>
    <ion-item>
      <ion-select label="Potência" placeholder="Selecione a potência" formControlName="power">
        <ion-select-option value="0">Não especificado</ion-select-option>
        <ion-select-option value="1">Low-end</ion-select-option>
        <ion-select-option value="2">Mid-end</ion-select-option>
        <ion-select-option value="3">High-end</ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="registerForm.get('power')?.touched && registerForm.get('power')?.errors?.['required']">O campo Potência é obrigatório</span>
    <ion-item>
      <ion-button size="default" color="success" shape="round">
        <input type="file" (change)="uploadFile($event)">
      </ion-button>
    </ion-item>
    <span *ngIf="registerForm.get('imagem')?.touched && registerForm.get('imagem')?.errors?.['required']">O campo imagem é obrigatório</span>
    <ion-button expand="full" type="submit">Cadastrar</ion-button>
  </form>
</ion-content>
